image:
  repository: traefik/traefik
  tag: v3.2.0
  pullPolicy: IfNotPresent

ports:
  web:
    port: 80
    expose: true
  websecure:
    port: 443
    expose: true
  traefik:
    port: 9000
    expose: true

api:
  dashboard:
    enabled: true
    insecure: true

providers:
  kubernetesGateway:
    enabled: true
    experimentalChannel: true
    throttleDuration: 2s

  kubernetesCRD:
    enabled: true
    namespaces:
      - traefik

ingressClass:
  enabled: false

securityContext:
  capabilities:
    drop:
      - ALL
    add:
      - NET_BIND_SERVICE
  readOnlyRootFilesystem: false
  runAsNonRoot: false

resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    cpu: 500m
    memory: 256Mi

logs:
  access:
    enabled: true

rbac:
  enabled: true

service:
  type: LoadBalancer
  spec:
    externalTrafficPolicy: Local

deployment:
  kind: Deployment
  replicas: 1

hub:
  enabled: false
